.main {
    display: flex;
    flex-direction: column;
}

.code-editor-header{
    display: flex;
    height: 60px;
    background-color: #1c1c1c;
    padding: 15px;
    border-bottom: 2px solid #7b847d;
    align-items: center;
}
.header-label{
    color: azure;
    font-family: 'SofiaProRegular';
    font-size: 0.7em;
    margin-right: 5px;
}
.code-editor-select{
    margin-right: 15px;
}

.code-editor-main{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.left-container {
    position: relative;
    flex: 65%;
    height: calc(100vh - 145px);
}

.right-container {
    flex: 35%;
    height: calc(100vh - 145px);
    display: flex;
    flex-direction: column;
    background-color: #242424;
    border-left: 2px solid #7b847d;
    padding: 7px;
}
.right-container h4 {
    color: azure;
}

.input-box {
    flex: 30%;
}

.input-box textarea {
    font-size: 16px;
}

.spinner-box {
    flex: 50%;
    background-color: #242424;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-box img {
    width: 200px;
}

.output-box {
    flex: 70%;
    background-color: #242424;
    overflow-y: auto;
    color: whitesmoke;
    position: relative;
    border: 1px rgb(133, 133, 133) solid;
    border-radius: 6px;
    padding: 10px;
}

.output-box::-webkit-scrollbar{
    display: none;
}

.clear-btn {
    position: fixed;
    bottom: 14px;
    right: 28px;
    width: 60px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: crimson;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
}

.output-box pre {
    font-size: 15px;
    white-space: pre-wrap;
}

#code-inp {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #242424;
    color: whitesmoke;
    padding: 10px;
    resize: none;
    border-radius: 6px;
}

#code-inp:focus {
    outline: auto;
}

.run-btn {
    font-weight: bold;
    color: #3fec4b;
    border: none;
    font-size: 35px;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 70px;
}
.run-btn:hover {
    color: #30ca3b;
}

.run-btn:active {
    background-color: #3fbe2e;
}