.tag-page{
    padding: 50px 70px;
}
.tag-list {
    width: 100%;
}
/* .tag-title{
    display: flex;
    font-size: 1.4em;
    justify-content: center;
    line-height: normal;
} */
.card-container{
    background-color: rgb(232, 232, 232);
    border: none;
    padding-left: 15px;
    align-items: center;
    justify-content: center;
}
.grid-style{
    width: 32%;
    text-align: center;
    margin: 5px;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 10px;
    height: 240px;
    cursor: pointer;
    overflow: hidden;
}