.home-container{
    padding: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}
.ramdom-list{
    width: 70%;
    padding-right: 20px;
}
.most-voted-list{
    position: sticky;
    width: 30%;
    padding-left: 20px;
    border-left: 1px rgba(0, 0, 0, 0.05) solid;
}
.most-voted-list .ant-list-item {
    border-bottom: 2px rgba(0, 0, 0, 0.2) solid;;
}
.most-voted-list .ant-list-item:last-child {
    border-bottom: 2px rgba(0, 0, 0, 0.2) solid;;
}
.most-voted-list-item{
    border: 2px rgba(0, 0, 0, 0.2) solid;
    margin-bottom: 15px;
    border-radius: 25px;
}
.most-voted-list-item:first-child{
    border: 3px rgb(219, 172, 0) solid;
    margin-bottom: 15px;
    border-radius: 25px;
}
.most-voted-list-item:n-child(2) {
    border: 3px rgb(219, 172, 0) solid;
    margin-bottom: 15px;
    border-radius: 25px;
}
.most-voted-list-item:hover{
    opacity: 0.8;
    cursor: pointer;
}
.tag{
    border-radius: 2em;
}
.avatar-and-tags{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home-avatar{
    width: 400px;
}
.home-avatar > span{
    padding-left: 10px;
}
.post-username{
    font-family: 'SofiaProRegular';
}
.actions-and-time{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.home-actions{
    align-self: flex-end;
    display: flex;
    width: 10%;
    justify-content: flex-end;
}
.action{
    padding-right: 8px;
}
.action:last-child{
    border-left: 1px rgba(0, 0, 0, 0.2) solid;
    padding-left: 8px;
    padding-right: 0px;
}
.home-posttime{
    font-family: 'SofiaProRegular';
    color: #9b9b9b;
}