.home-container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.home-list-item-container {
    border: none !important;
}

.home-list-item {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

.ramdom-list {
    width: 70%;
    padding-right: 20px;
}

.most-voted-list {
    position: sticky;
    width: 30%;
    padding-left: 20px;
    border-left: 1px rgba(0, 0, 0, 0.05) solid;
}

.most-voted-list .ant-list-item {
    border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
    ;
}

.most-voted-list .ant-list-item:last-child {
    border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
}

.most-voted-list-item {
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: white;
}

.most-voted-list-item:first-child {
    background: linear-gradient(90deg, rgb(239, 189, 11) 2%, #fff 0%);
    margin-bottom: 15px;
    border-radius: 15px;
}

.most-voted-list-item:nth-child(2) {
    background: linear-gradient(90deg, rgb(166, 166, 166) 2%, #fff 0%);
    margin-bottom: 15px;
    border-radius: 15px;
}

.most-voted-list-item:nth-child(3) {
    background: linear-gradient(90deg, #B87333 2%, #fff 0%);
    margin-bottom: 15px;
    border-radius: 15px;
}

.most-voted-list-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.tag {
    border-radius: 2em;
    margin-bottom: 3px;
    font-size: 0.7em
}

.tag:hover {
    opacity: 0.8;
    cursor: pointer;
}

.tag:last-child{
    margin-right: 0;
}

.avatar-and-tags {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.home-avatar {
    max-width: 180px;
    width: fit-content;
    border-radius: 2em 1em 1em 2em;
    padding-right: 30px;
    box-shadow: 1px 3px 4px 1px rgb(0 0 0 / 20%);
}

.home-avatar:hover {
    cursor: pointer;
}

.home-avatar-most-vote {
    max-width: 180px;
    width: fit-content;
    border-radius: 2em 1em 1em 2em;
    padding-right: 10px;
    box-shadow: 1px 3px 4px 1px rgb(0 0 0 / 20%);
}

.home-tags{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.post-username {
    font-family: 'SofiaProRegular';
    padding-left: 10px;
}

.actions-and-time {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.home-actions {
    align-self: flex-end;
    display: flex;
    width: 10%;
    justify-content: flex-end;
}

.action {
    padding-right: 8px;
}

.action:last-child {
    border-left: 1px rgba(0, 0, 0, 0.2) solid;
    padding-left: 8px;
    padding-right: 0px;
}

.home-posttime {
    font-family: 'SofiaProRegular';
    color: #9b9b9b;
}