.user-manager-page {
    padding: 50px 70px;
}

.user-mng-chart{
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.user-table-container {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

.table-header-container {
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
}

.user-table table th {
    text-align: center;
    border: 1px solid #ddd;
}

.user-table table td {
    border: 1px solid #ddd;
}

.user-mng-action {
    text-align: center;
}

.icon-col {
    text-align: center;
}

.icon-view{
    font-size: 1.5em;
    margin-right: 10px;
}

.icon-view:hover {
    color: var(--ant-primary-color);
    cursor: pointer;
}

.icon-edit {
    font-size: 1.5em;
    margin-right: 10px;
}

.icon-edit:hover {
    color: var(--ant-primary-color);
    cursor: pointer;
}

.icon-remove {
    font-size: 1.5em;
    color: crimson;
}

.icon-remove:hover {
    filter: brightness(85%);
    cursor: pointer;
}