.profile-block{
    background-color: white;
    flex: 0.32;
    border-radius: 20px;
    padding: 15px;
    max-height: 380px;
    overflow: hidden;
}

.pb-title{
    font-size: 0.8em;
    margin-bottom: 15px;
}

.pb-about{
    font-size: 0.7em;
    font-family: 'SofiaProRegular';
    color: darkslategray;
    padding-bottom: 15px;
    border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
}

.social-link{
    margin-left: 5px;
    font-size: x-large;
}