.user-post-item{
    display: flex;
    flex-direction: column;
}
.user-post-name{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.user-post-tag-and-info{
    display: flex;
    width: 100%;
}
.user-post-info-container{
    display: flex;
    font-size: 0.9em;
    width: 100%;
    justify-content: space-between;
}
.user-post-action-container{
    flex: 0.4;
    display: flex;
}