.post-container {
    margin: 50px 70px;
}

.post-heading {
    padding-bottom: 20px;
}

.post-title {
    display: flex;
    align-items: baseline;
    word-break: break-all;
    hyphens: auto;
}

.post-more-btn {
    display: block;
    margin-left: auto;
    margin-left: 8px;
}

.post-time {
    font-family: 'SofiaProRegular';
    color: darkslategray;
    font-size: 0.8em;
}

.post-tag-container {
    align-items: center;
    margin-bottom: 15px;
}

.post-user-container {
    display: flex;
    align-items: center;
}

.post-user {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-family: 'SofiaProRegular';
    color: darkslategray;
    margin-right: 10px;
}

.post-avatar {
    margin-left: 5px;
    margin-right: 5px;
}

.post-main {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.vote-container {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 5%;
    padding-top: 15px;
}

.heart {
    color: #dc143c;
}

.bookmark-action {
    margin-top: 3px;
}

.bookmarked {
    color: #008C3B;
}

.markdown-section {
    width: 95%;
    padding: 15px;
    font-family: 'SofiaProRegular';
    min-height: 200px;
    border-radius: 10px;
}

.code-section {
    margin-bottom: 25px;
}

.comment-section {
    border-top: 1px var(--black) solid;
    padding: 20px;
}

.comment-md-editor {
    margin-top: 20px;
}

.comment-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.comment-unreg-btn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}