.avatar-container {
    height: 48px;
    margin: 16px;
    padding: 5px;
    background: linear-gradient(25deg, #f53d3d, #f14799, #b875da, #5e97ef, #00aada);
    background-size: 400%;
    background-position: left;
    border-radius: 2em;
    animation: avatarContainerGradient 8s infinite alternate;
    cursor: pointer;
}
.user-popover-item{
    min-width: 100px;
    padding: 7px 14px;
    cursor: pointer;
}
.navbar-span{
    font-family: 'SofiaProMedium';
}
.user-popover-item:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.avatar{
    min-height: 38px;
    min-width: 38px;
}

.user-name{
    color: #001529;
    margin-left: 10px;
    font-size: 0.95em;
}

@keyframes avatarContainerGradient {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}