.header-app {
    background-color: #001529;
    font-size: 2.4em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
/* .header-app > a {
    display: flex;
} */


.trigger {
    padding: 0 24px;
    font-size: 0.7em;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    opacity: 0.7;
}

.header-logo {
    color: #FFF;
    margin: auto 0 auto 10px;
}