.header-app {
    background-color: #001529;
    font-size: 2.5em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 84px;

}
.header-app > a {
    display: flex;
}

.trigger {
    padding: 0 24px;
    font-size: 0.6em;
    line-height: 64px;
    cursor: pointer;
    transition: all 0.3s;
}

.trigger:hover {
    opacity: 0.9;
}

.header-logo {
    margin: auto 0 auto 15px;
    opacity: 0;
    transform: translateX(-2rem);
}

.header-logo-start-to-off {
    margin: auto 0 auto 15px;
    opacity: 1;
    transform: translateX(0);
}

.logo-active {
    animation: logoAnimationOn 1000ms ease forwards;
}

.logo-inactive {
    animation: logoAnimationOff 1000ms ease forwards;
}

@keyframes logoAnimationOn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes logoAnimationOff {
    to {
        opacity: 0;
        transform: translateX(2rem);
    }
}