@import 'antd/dist/antd.variable.min.css';

:root {
  --red: #f00;
  --green: #0f0;
  --blue: #00f;
  --black: #000;
  --white: #fff;
  --markdown-editor-select-text: rgba(247, 23, 23, 0.297);
}

.test-color {
  color: #fffcf8;
}

.App {
  height: 100%;
}

.w-md-editor-text-input::selection {
  color: white;
  background-color: var(--markdown-editor-select-text);
}

.ant-list-vertical .ant-list-item-meta{
  margin: 3px;
}

.ant-image-preview-operations{
  justify-content: center;
}

.ant-popover-inner-content{
  padding: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}