html, body {
  margin: 0;
  padding: 0;
  font-family: 'Tahoma', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: local('MontserratSemiBold'), url("./assets/fonts/Montserrat-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'SofiaProSemiBold';
  src: local('SofiaProSemiBold'), url("./assets/fonts/SofiaProSemiBoldVN.otf") format('truetype');
}

@font-face {
  font-family: 'SofiaProRegular';
  src: local('SofiaProRegular'), url("./assets/fonts/SofiaProRegularVN.otf") format('truetype');
}

@font-face {
  font-family: 'SofiaProMedium';
  src: local('SofiaProMedium'), url("./assets/fonts/SofiaProMediumVN.otf") format('truetype');
}